:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Important */
.important {
    display: flex !important;
}
/* End Important */
/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-10 {
    gap: .625rem;
}
.gap-20 {
    gap: 1.25rem;
}
.d-block {
    display: block;
}
 @media (max-width: 47.9375rem) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
 }
/* End Box */
/* Start Padding & Margin */
.p-10 {
    padding: .625rem;
}
.pt-10 {
    padding-top: .625rem;
}
.pb-10 {
    padding-bottom: .625rem;
}
.pr-10 {
    padding-right: .625rem;
}
.p-15 {
    padding: .9375rem;
}
.pl-15 {
    padding-left: .9375rem;
}
.pt-15 {
    padding-top: .9375rem;
}
.pb-15 {
    padding-bottom: .9375rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}
.p-20 {
    padding: 1.25rem;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: .3125rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: .3125rem;
}
.mr-10 {
    margin-right: .625rem;
}
.mb-10 {
    margin-bottom: .625rem;
}
.m-15 {
    margin: .9375rem;
}
.mb-15 {
    margin-bottom: .9375rem;
}
.mt-10 {
    margin-top: .625rem;
}
.mt-15 {
    margin-top: .9375rem;
}
.mr-15 {
    margin-right: .9375rem;
}
.m-20 {
    margin: 1.25rem;
}
.mt-20 {
    margin-top: 1.25rem;
}
.mt-25 {
    margin-top: 1.5625rem;
}
.mb-25 {
    margin-bottom: 1.5625rem;
}
.mb-20 {
    margin-bottom: 1.25rem;
}
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
/* End Padding & Margin */
/* Start Color */
.bg-white {
    background-color: #FFFFFF;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.c-black {
    color: black;
}
.c-white {
    color: #FFFFFF;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-13 {
    font-size: .8125rem;
}
.fs-14 {
    font-size: .875rem;
}
.fs-15 {
    font-size: .9375rem;
}
.fs-25 {
    font-size: 1.5625rem;
}
.fs-40 {
    font-size: 2.5rem;
}
@media (max-width: 47.9375rem) {
    .txt-c-mobile {
        text-align: center;
    }
}
.fw-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.b-none {
    border: none;
}
.bb-ccc {
    border-bottom: 1px solid #ccc;
}
.bb-eee {
    border-bottom: solid 1px #eee;
}
.b-eee {
    border: 1px solid #eee;
}
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End Border */
/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space-between {
    justify-content: space-between;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-wrap {
    flex-wrap: wrap;
}
.btn-shape {
    padding: .25rem .625rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Components */